h1 {
    font-size: 3.8rem;
}
.box {
    margin: 1rem 0;
}
#name, #surname, #mail, #role, #yes, #fav, #front, #comment{
    margin-top: 0.7rem;
}
textarea{
    resize: none;
}
p{
    font-size: 1.5rem;
}